
#sec-introIndex {
    display: flex;
    flex-direction: column;
}

#sec-introIndex .title {
    color: var(--color-titulos);
    margin: 16px 0;
    text-align: center;
    text-shadow: 0px 3px 5px #898989;
}

#sec-introIndex .subtitle {
    width: 100%;
    display: flex;
    align-content: stretch;
    justify-content: center;
    margin-bottom: 0px;
    font-size: 14px;
}

form {
    display: flex;
    flex-direction: row;
    padding: 1rem;
}

form button {
    margin: 0 5px;
}


#sec-messages {
    display: flex;
    flex-direction: column;
    width: 500px;
}

#sec-messages p {
    color: white;
    font-size: 12px;
    word-wrap: break-word;
    text-align: center;
    border-radius: 20px;
    padding: 20px;
}

.msgWarning {
    background-color: #ffc107;
}

.msgSuccess {
    background-color: #28a745;
}

.msgError {
    background-color: #dc3545;
}

#sec_peliculas {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}

.contenedorPeliculas {
    margin: 2rem;
}

#sec_peliculas img {
    width: 100%;
    margin-bottom: 10ps;
    border-radius: 15px;
}

#sec_peliculas h3 {
    font-size: 16px;
    font-weight: 600;
    color: var(--color-theme);
    margin: 8px 0;
}

#sec_peliculas p {
    font-size: 12px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    color: #288BA8;
}

.button {
    background: #7f8c8d;
    margin-top: 10px;
    padding: 10px 0;
    text-align: center;
    width: 200px;
    text-decoration: none;
    box-shadow: 0px 3px 0px #373c3c;
    border-radius: 100px;
    border: none;
    color: #e0e0e0;
    cursor: pointer;
}

.button span {
    margin-right: 10px;
}

.button.medium {
    width: 150px;
}

.button.radius {
    border-radius: 50px;
}

.button:hover {
    box-shadow: 0px 0px 0px;
}


.paginacion {
    margin-top: 50px;
    cursor: pointer;
}

.paginacion button {
    cursor: pointer;
    transition: .3s ease all;
    width: 200px;
    height: 60px;
    border-radius: 30px;
    background-color: #241844;
    color: #FFFFF5;
    border: none;
}

.paginacion button:hover {
    background-color: var(--color-back-active);
}

.msg {
    width: 50%;
    margin: 20px auto;
    padding: 15px;
    border-radius: 15px;
    color: #fff;
    font-size: 12px;
    font-weight: 200;
    text-align: center;
  }
  
  .amarillo {
    background-color: #ffc107;
  }
  
  .rojo {
    background-color: #dc3545;
  }
  
  .verde {
    background-color: #28a745;
  }